* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #242526;
}

.header {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: black;    
    color: white;
}

.title {
    font-size: xx-large;
    text-align: left;
    margin: 0;
    position: absolute;
}
.title a {
    color: white;
    text-decoration: none;
}

.nav-bar {
    color: white;
    margin: 0 auto; 
}

.nav-bar a {
    color: white;
    text-decoration: none;
}

.nav-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px; 
}

.nav-bar li {
    font-size: larger;
}

.index-main {
    color: white;
    flex: 1;
    margin-top: 20px;
}

.index-main h1 {
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
}
.p-container{
    max-width: 1500px;
    margin: 0 auto;
}
.p-container a{
    color: white;
}
.index-main p {
    text-align: left;
    padding: 20px 40px 20px 40px;
    font-size: larger;
}


.projects-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projects-main div {
    flex-direction: column;
    flex: 1;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: black;
}
.projects-main div a {
    text-decoration: solid;
    color: white;
}

.projects-main img {
    width: 700px;
    height: auto;
    margin-top: 10px;
}
.projects-main h2 {
    color: white;
    font-size: larger;
    margin-top: 5px;
}

.projects-main h4 {
    color: white;
    margin-bottom: 5px;
}

.projects-main p {
    color: white;
    margin: 20px 10px;
    text-align: center;
}


.contact-main {
    margin-top: 20px;
}

.contact-main h1 {
    color: white;
    text-align: center;
    padding: 20px;
}

.contact-main a {
    color: white;
    text-decoration: underline;
}


.contact-main ul {
    list-style-type: none;
    display: flex;
    margin: 20px 0px;
    justify-content: center;
}
.contact-main #contact-list {
    gap: 22px;
}

.contact-main #contact-img {
  gap: 20px;
}

.contact-main #contact-img li {
    margin: 0px;
    padding: 0px;
}

.resume-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
.resume-main iframe{
    width: 90%; 
    max-width: 700px; 
    height: 80vh;
    margin: 0px 0;
}

footer {
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: auto;
}

.footer a {
    color: white;
    text-decoration: underline;
}

@media (max-width:700px) {
    .header {
        display: flex;
        align-items: center;
    }

    .title {
        font-size: medium;
        text-align: left;
        margin: 0 auto;
    }

    .nav-bar {
        display: flex;
        font-size: x-small;
        margin-right: 0;
    }

    .index-main p {
        text-align: left;
        padding: 15px 20px 10px 20px;
    }

    .projects-main div {
        margin: 10px;
    }

    .footer {
        font-size: small;
    }

    .resume-main iframe {
        width: 90%; 
        height: 70vh;
    }
    
}

/* smartphones, iPhone, portrait 480x320 phones */ 
@media (min-width:320px)  {  
    .projects-main img {
        width: 310px;
        height: auto;
    }
    .resume-main iframe {
        width: 310px;
        height: 500px;
    }
    
 }

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media (min-width:481px)  { 
    .projects-main img {
        width: 470px;
        height: auto;
    }
    .resume-main iframe {
        width: 470px;
        height: 750px;
    }
   
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px)  { 
    .projects-main img {
        width: 630px;
        height: auto;
    }
    .resume-main iframe {
        width: 630px;
        height: 1000px;
    }

   
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  { 
    .projects-main img {
        width: 700px;
        height: auto;
    }
    .resume-main iframe {
        width: 700px;
        height: 1000px;
    }
 }
/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) { 
    .projects-main img {
        width: 700px;
        height: auto;
    }
    .resume-main iframe {
        width: 700px;
        height: 1000px;
    }
 }

 /* hi-res laptops and desktops */
@media (min-width:1281px) {
    .projects-main img {
    width: 700px;
    height: auto;
    }
    .resume-main iframe {
        width: 700px;
        height: 1000px;
    } 
}